{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Insert Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h2>Few Shot Example Question</h2>
    <input name="fewshotexamplequestion" id="fewshotexamplequestion">
    <h2>Few Shot Example Query</h2>
    <input name="fewshotexamplequery" id="fewshotexamplequery">
    <h2>Proper Noun</h2>
    <input name="propernoun" id="propernoun">
    <input type="submit" value="Insert">
  </form>
{% endblock %}