{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Input your few shot examples here{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="fewshotexamplequestion">Few Shot Example Question</label>
    <input name="fewshotexamplequestion" id="fewshotexamplequestion">
    <label for="fewshotexamplequery">Few Shot Example Query</label>
    <input name="fewshotexamplequery" id="fewshotexamplequery">
    <label for="propernoun">Proper Noun</label>
    <input name="propernoun" id="propernoun">
    <input type="submit" value="Insert">
  </form>
{% endblock %}