{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Query Input{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input name="query" id="query" required>
    <input type="submit" value="Query">
  </form>
  <div>
    <h1 id="queryHeader"></h1>
    <p id="userQuery"></p>
    <h1 id="responseHeader"></h1>
    <p id="generatedResponse"></p>
  </div>

  <script>
    window.onload = function() {
      var query = "{{data.query}}";
      var response = "{{data.response}}"
      if(query != "empty" && response != "empty") {
          displayQueryAndResponse(query, response);
      }
    };

    function displayQueryAndResponse(query, response){
      var queryHeader = document.getElementById("queryHeader");
      var responseHeader = document.getElementById("responseHeader");
      var queryCell = document.getElementById("userQuery");
      var responseCell = document.getElementById("generatedResponse");
      queryHeader.textContent = "Query";
      responseHeader.textContent = "Response";
      response = response.replaceAll("&#39;", "");
      response = response.replaceAll("&#34;", "");
      queryCell.textContent = query;
      responseCell.textContent = response;
    }
  </script>

{% endblock %}