<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Spatial Database SQL Agent</h1>
  <ul>
    <li><a href="{{ url_for('langchainmodel.input') }}" class="navbar">Input Query</a>
    <li><a href="{{ url_for('langchainmodel.dataimportview') }}" class="navbar">Import Data</a>
    <li><a href="{{ url_for('langchainmodel.fewshotsview') }}" class="navbar">Configure Few Shot Prompts</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>